#main-wrap{
    margin-top: 50px;
}

td.already_expired{
	background: #ffb0a0;
}
td.expires_soon{
	background: #ffa0a0;
}

td.up{
	background: lightgreen;
}

td.down{
	background: red;
}

td.warning{
	background: red;
}


.error
      {
         padding   : 10px;
         border    : 5px solid red;
      }
.warning
      {
         padding   : 10px;
         border    : 5px solid yellow;
      }
.ok
      {
         padding   : 10px;
         border    : 5px solid green;
      }

      .table {
          vertical-align: top;
      }