/* Do not rely on the browser for default values */
body {
    color: black;
    background-color: white;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

#main-wrap {
    margin-top: 50px;
}

/* We will use crimson instead of red for contrast ratio > 4.5:1 */
.red-text {
    color: crimson;
}

.green-text {
    color: green;
}

table.alt-rows-bgcolor tr:nth-child(even), tr.alt-bgcolor {
    background-color: #efefef;
}

form.edit-form {
    margin-left: 5%;
    margin-right: auto;
    width: 50%;
}

div.edit-form {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

input[type="text"].edit-form {
    width: 100%;
}

input[type="checkbox"].edit-form {
    margin-left: 1rem;
    margin-right: 2rem;
}

button.edit-form {
    float: right;
}

button.edit-submit {
    background: none;
    border: none;
    color: #337ab7;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

button.edit-submit:hover,
button.edit-submit:focus {
    outline: none;
    color: #23527c;
    text-decoration: underline;
}

table.events-table {
    border: 1px solid gray;
    padding: 1px;
    border-spacing: 2px;
}

table#install-check {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
