# monitorlm doesn't appear to support reporting license expiration.
# So this is a (necessary) dummy template to report no available information.
%TEXT
Mathematica:    N/A N/A N/A
MathKernel:     N/A N/A N/A
SubMathematica: N/A N/A N/A
SubMathKernel:  N/A N/A N/A
